.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

body {
	background-image: url("./assets/hazy-mountains-bg.jpg");
	background-size: 100%;
}

#mailView {
	position: absolute;
	right: 0px;
	width: 1152px;
	margin: 10px;
	height: 93.5vmin;
	border: 1px solid rgba(200, 200, 210, 0.9);
	float: right;
	overflow: auto;
	background-color: rgba(255, 255, 255, 0.9);
}

#mailList {
	position: absolute;
	float: left;
	right: 1152px;
	width: 422px;
	height: 93.5vmin;
	border: 1px solid rgba(200, 200, 210, 0.9);
	margin: 10px 20px;
	overflow: auto;
	background-color: rgba(255, 255, 255, 0.9);
}

.mailListItem {
	border-bottom: 1px solid rgba(119, 136, 153, 0.9);
	padding-top: 5px;
	height: 12%;
	overflow: hidden;

	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
}

.mailListItem.focused {
	background-color: rgb(175, 195, 215);
}

.mailListItemSubject {
	font-weight: bold;
	font-size: 16px;
}

.mailListItemBody {
	font-size: 14px;
}

.mailListItemSender {
	font-size: 15px;
	font-weight: 500;
}

#inboxList {
	float: left;
	position: absolute;
	left: 0%;
	width: 16%;
	height: 68vmin;
	margin: 10px 10px 0px;
	border: 1px solid rgba(200, 200, 210, 0.9);
	background-color: rgba(255, 255, 255, 0.9);
}

#stickyNote {
	float: left;
	position: absolute;
	left: 0%;
	bottom: 0%;
	height: 29vmin;
	width: 16%;
	margin: 0px 10px 12px 10px;
	padding: 10px;
	background-color: rgba(255, 255, 161, 0.9);
	border: 1px solid rgba(230, 170, 80, 0.9);
	resize: none;
}

h1 {
	float: left;
}

.customNavbar {
	border: 1px solid rgba(200, 200, 210, 0.9);
	background-color: rgba(255, 255, 255, 0.9);
	height: 40px;
	padding: 0px 10px;
}

#logButton {
	position: absolute;
	top: 0;
	height: 35px;
	background-color: rgba(230, 230, 230, 0.9);
	color: black;
	float: left;
	border-radius: 5px;
	font-weight: 500;
}

h4 {
	position: absolute;
	float: right;
	top: 2px;
	left: 95px;
}
