.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#mailView {
	position: absolute;
	right: 0px;
	width: 60%;
	margin: 10px;
	height: 98vmin;
	border: 1px solid black;
	float: right;
	overflow: auto;
}

#mailList {
	position: absolute;
	float: left;
	right: 60%;
	width: 22%;
	height: 98vmin;
	border: 1px solid black;
	margin: 10px 20px;
	overflow: auto;
}

.mailListItem {
	border-bottom: 1px solid lightslategrey;
	padding-top: 5px;
	height: 12%;
	overflow: hidden;
	background-color: white;
	cursor: pointer;
}

.mailListItem.focused {
	background-color: lightsteelblue;
}

.mailListItemSubject {
	font-weight: bold;
	font-size: 16px;
}

.mailListItemBody {
	font-size: 14px;
}

.mailListItemSender {
	font-size: 15px;
	font-weight: 500;
}

#inboxList {
	float: left;
	position: absolute;
	left: 0%;
	width: 16%;
	height: 68vmin;
	margin: 10px 10px;
	border: 1px solid black;
}

#stickyNote {
	float: left;
	position: absolute;
	left: 0%;
	bottom: 0%;
	height: 29vmin;
	width: 16%;
	margin: 10px;
	background-color: lightyellow;
	border: 1px solid darkgoldenrod;
	resize: none;
}

h1 {
	float: left;
}
